body, html {
    margin: 0;
    padding: 0 1rem;
}

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 0.75fr 1.5fr 0.75fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "title   nav     account-nav"
                         "content content side"
                         "footer  footer  footer";
}

.grid > * {
    outline: 1px dashed gray;
}
  
.title, .nav, .account-nav {
    grid-area: title;
    height: 5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 1rem;
}

.title h1 {
    font-size: 3em;
    margin: 0;
}

.nav {
    grid-area: nav;
}

.account-nav {
    grid-area: account-nav;
}

.content {
    grid-area: content;
}

.side {
    grid-area: side;
}

.footer {
    grid-area: footer;
    height: 3rem;
    text-align: center;
}

.sub {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr 1fr;
    grid-template-areas: "sub-title sub-title"
                         "sub-posts sub-about"
                         "sub-posts sub-new";
    height: 100%;
}

.sub > * {
    outline: 1px dashed darkgray;
}

.sub > h1 {
    grid-area: sub-title;
}

.sub.posts {
    grid-area: sub-posts;
}

.sub.about {
    grid-area: sub-about;
}

.sub.new-post {
    grid-area: sub-new;
}

#post-form {
    display: grid;
    width: 50%;
    grid-gap: 1rem;
}

#new-post-title {
    font-weight: bold;
    font-size: 1.5em;
}